<!DOCTYPE html>
<html>
<head>
  <title>ChatGPT Messenger</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <meta name="google-site-verification" content="4DKAeSiRdqisiDsRci4Y8ffsIFuCemQGKqOYl1MCd5k" />
  </head>


<div class="container">
<div>
<%= image_tag 'Post.png', alt: 'Post代行', style: 'width:100%; max-width:800px;' %>

<%= form_with url: new_diary_path, method: :get do %>
  <div class="actions">
    <%= submit_tag "考えてもらう！", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>
</div>
</html>