<!DOCTYPE html>
<html>
  <head>
    <title>Post代行</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
    <h1>Post代行</h1>
    <div class="title-image-container " %>
    <%= image_tag 'title.png', alt: 'Post代行' %>
    </div>

  <%= form_with model: @diary, local: true , html: { class: 'centered-form' } do |form| %>
    <% if @diary.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@diary.errors.count, "error") %>が発生しました:</h2>

        <ul>
          <% @diary.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :user_name, "ユーザー名" %>
      <%= form.text_field :user_name, size: 20 %>
    </div>

    <div class="field">
      <%= form.label :content, "内容" %>
      <%= form.text_area :content, placeholder: '今日の出来事や気分を教えてね
    （1文字以上、200文字以内）', maxlength: 200 %>
    </div>

    <div class="field">
      <%= form.label :style, "スタイル" %>
      <%= form.select :style, options_for_select(['ギャル風','おじさん構文', '古風なスタイル', 'ビジネス風', 'ライトノベル風', '関西弁', '沖縄弁', 'メイドカフェの店員風', 'SF風', 'ホラー風', 'ファンタジー風', 'ポエム風', 'ドラマティック風','ツンデレ風'], selected: 'ギャル風'), { size: 10 }%>
    </div>

    <div class="actions">
      <%= form.submit '作成' %>
    </div>
  <% end %>

  <!-- 画像表示 -->
  <div class="image-container">
    <%= image_tag 'lazyham.png', alt: 'Lazy golden hamster', style: 'width:40%; height:auto;' %>
  </div>
</div>
</body>
</html>